<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OOP Room Web App</display-name>
  <servlet>
    <servlet-name>AddRoomServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRoomServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListRoomServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomServlet</servlet-name>
    <url-pattern>/AddRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <url-pattern>/UpdateRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <url-pattern>/DeleteRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRoomServlet</servlet-name>
    <url-pattern>/GetRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListRoomServlet</servlet-name>
    <url-pattern>/ListRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCustomerServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCustomerServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCustomerServlet</servlet-name>
    <url-pattern>/GetCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCustomerServlet</servlet-name>
    <url-pattern>/ListCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookingServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBookingServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListBookingServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookingServlet</servlet-name>
    <url-pattern>/AddBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <url-pattern>/UpdateBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBookingServlet</servlet-name>
    <url-pattern>/GetBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListBookingServlet</servlet-name>
    <url-pattern>/ListBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookingServletC</servlet-name>
    <servlet-class>com.oop.servlet.AddBookingServletC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookingServletC</servlet-name>
    <servlet-class>com.oop.servlet.UpdateBookingServletC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookingServletC</servlet-name>
    <servlet-class>com.oop.servlet.DeleteBookingServletC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBookingServletC</servlet-name>
    <servlet-class>com.oop.servlet.GetBookingServletC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListBookingServletC</servlet-name>
    <servlet-class>com.oop.servlet.ListBookingServletC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookingServletC</servlet-name>
    <url-pattern>/AddBookingServletC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookingServletC</servlet-name>
    <url-pattern>/UpdateBookingServletC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookingServletC</servlet-name>
    <url-pattern>/DeleteBookingServletC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBookingServletC</servlet-name>
    <url-pattern>/GetBookingServletC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListBookingServletC</servlet-name>
    <url-pattern>/ListBookingServletC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServletU</servlet-name>
    <servlet-class>com.oop.servlet.AddUserServletU</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServletU</servlet-name>
    <servlet-class>com.oop.servlet.UpdateUserServletU</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServletU</servlet-name>
    <servlet-class>com.oop.servlet.DeleteUserServletU</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserServletU</servlet-name>
    <servlet-class>com.oop.servlet.GetUserServletU</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUserServletU</servlet-name>
    <servlet-class>com.oop.servlet.ListUserServletU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServletU</servlet-name>
    <url-pattern>/AddUserServletU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServletU</servlet-name>
    <url-pattern>/UpdateUserServletU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServletU</servlet-name>
    <url-pattern>/DeleteUserServletU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserServletU</servlet-name>
    <url-pattern>/GetUserServletU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUserServletU</servlet-name>
    <url-pattern>/ListUserServletU</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>homeView.html</welcome-file>
    <welcome-file>homeView.htm</welcome-file>
    <welcome-file>homeView.jsp</welcome-file>
    <welcome-file>admin.html</welcome-file>
    <welcome-file>admin.htm</welcome-file>
    <welcome-file>admin.jsp</welcome-file>
    <welcome-file>payment.html</welcome-file>
    <welcome-file>payment.htm</welcome-file>
    <welcome-file>payment.jsp</welcome-file>
    <welcome-file>user.html</welcome-file>
    <welcome-file>user.htm</welcome-file>
    <welcome-file>user.jsp</welcome-file>
    <welcome-file>Booking.html</welcome-file>
    <welcome-file>Booking.htm</welcome-file>
    <welcome-file>Booking.jsp</welcome-file>
    <welcome-file>Bookingc.html</welcome-file>
    <welcome-file>Bookingc.htm</welcome-file>
    <welcome-file>Bookingc.jsp</welcome-file>
    <welcome-file>manageuser.html</welcome-file>
    <welcome-file>manageuser.htm</welcome-file>
    <welcome-file>manageuser.jsp</welcome-file>
  </welcome-file-list>
</web-app>